@model IEnumerable<eCollege.Data.Fees>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegisterFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeeNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeeNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeeNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
