@model eCollege.Data.Student

@{
    ViewData["Title"] = "التفاصيل";
}

<div dir="rtl" class="mdc-layout-grid mdc-elevation--z3">
    <div class="mdc-card mdc-layout-grid__cell--span-12 mdl-color--blue-grey sec-bar">
        <h3>تفاصيل الطالب @Html.DisplayFor(Model => Model.Name)</h3>
    </div>
    <hr class="mdc-layout-grid__cell--span-12" />
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 flex">
        <div class="mdc-grid-list">
            <ul class="mdc-grid-list__tiles">
                <li class="mdc-grid-tile">
                    <h4> المعرف</h4>
                    <p>@Html.DisplayFor(Model => Model.Id)</p>
                </li>
                <li class="mdc-grid-tile">
                    <h4>رقم التسجيل</h4>
                    <p>@Html.DisplayFor(model => model.RegId)</p>
                </li>
            </ul>
        </div>
        <div class="mdc-grid-list">
            <ul class="mdc-grid-list__tiles">
                <li class="mdc-grid-tile">
                    <h4>الاسم</h4>
                    <p>@Html.DisplayFor(model => model.Name)</p>
                </li>
                <li class="mdc-grid-tile">
                    <h4>كلمة السر</h4>
                    <p>@Html.DisplayFor(model => model.Password)</p>
                </li>
            </ul>
        </div>
        <div class="mdc-grid-list">
            <div class="mdc-grid-list__tiles">
                <div class="mdc-grid-tile">
                    <h4>العنوان</h4>
                    <p>@Html.DisplayFor(model => model.Address)</p>
                </div>
            </div>
        </div>
        <div class="mdc-grid-list">
            <ul class="mdc-grid-list__tiles">
                <li class="mdc-grid-tile">
                    <h4>الجنسية</h4>
                    <p>
                        @Html.DisplayFor(model => model.Nationality)
                    </p>
                </li>
                <li class="mdc-grid-tile">
                    <h4>الديانة</h4>
                    <p>@Html.DisplayFor(model => model.Religon)</p>
                </li>
                <li class="mdc-grid-tile">
                    <h4>الجنس</h4>
                    <p>@Html.DisplayFor(model => model.Gender)</p>
                </li>
                <li class="mdc-grid-tile">
                    <h4>الميلاد</h4>
                    <p>@Html.DisplayFor(model => model.BirthDate)</p>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" style="text-align:center" dir="rtl">
        <a style="font-family:'Segoe UI';text-decoration-line:none" class="mdc-button mdc-button--primary mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-button--raised mdc-ripple-surface" data-mdc-auto-init="MDCRipple" asp-action="Edit" asp-route-id="@Model.Id">تعديل</a>

        <a style="font-family:'Segoe UI';text-decoration-line:none" class="mdc-button mdc-button--raised mdc-ripple-surface mdc-layout-grid__cell mdc-layout-grid__cell--span-2" data-mdc-auto-init="MDCRipple" asp-action="Index">الرجوع الى القائمة</a>
    </div>
</div>

            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)

            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

            @Html.DisplayNameFor(model => model.Religon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Religon)
        </dd>
